<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalender</title>
    <link rel="icon" href="../static/images/BI_Logo2.jfif" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="overlay" class="overlay"></div>
    <!-- Header -->
    <header class="header">
        <div class="search-complex">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Suchen...">
                <button id="search-button">🔍</button>
            </div>
            <div class="search-results" id="clients">
                
            </div>
        </div>
        <button class="logout-button" id="logout-button">
            <img src="../static/images/logout_icon.png" alt="Logout Icon" class="logout-icon">
            Logout
        </button>
    </header>

    <div class="termin-search-container" id="search-window">
        <div class="search-header">
            <div class="search-complex">
                <input type="text" id="search" placeholder="Suchen...">
                <div id="search-results" class="hidden">
                    <!-- Suchergebnisse werden hier eingefügt -->
                </div>
            </div>
            <select id="termine-dropdown">
                <option value="Besprechung">Besprechung</option>
                <option value="Blutabnahme">Blutabnahme</option>
                <option value="Vorsorge">Vorsorge</option>
                <option value="Impfung">Impfung</option>
                <option value="Notfall">Notfall</option>
            </select>
        </div>
        <div class="search-filters">
            <div class="search-header">
                <label for="duration">Dauer:</label>
                <input type="number" value:"15" min="10" max="55" step="5" id="duration">
            </div>
        </div>
        <div class="search-actions">
            <button class="action-button" id="cancel">Abbrechen</button>
            <button class="action-button" id="search-date">Suchen</button>
        </div>
    </div>

    <div class="main-content">
        <div class="left-content">
            <!-- Button zum Öffnen des Modals -->
            <button id="termin-btn">Termin suchen</button>

            <!-- Kalenderstruktur -->
            <div id="calendar">
                <!-- Kopfzeile des Kalenders mit Navigation -->
                <div id="calendar-header">
                    <button id="prev-month">◀</button>
                    <span id="month-year"></span>
                    <button id="next-month">▶</button>
                </div>
                <!-- Körper des Kalenders mit Tagesnamen und Tagen -->
                <div id="calendar-body">
                    <div class="day-names">
                        <span>Mo</span><span>Di</span><span>Mi</span><span>Do</span><span>Fr</span><span>Sa</span><span>So</span>
                    </div>
                    <div id="calendar-days"></div>
                </div>
            </div>

            <!-- Button zum Öffnen des Modals -->
            <button class="modal-btn" id="open-modal-filter">filter</button>
            <div class="checkbox-container active" id="filter">
                <label for="Vorsorge">
                    <input type="checkbox" id="Vorsorge" name="options" value="Vorsorge" checked>
                    <span class="checkmark" id="Vorsorge-box"></span>
                    Vorsorge
                </label>
                <label for="Besprechung">
                    <input type="checkbox" id="Besprechung" name="options" value="Besprechung" checked>
                    <span class="checkmark" id="Besprechung-box"></span>
                    Besprechung
                </label>
                <label for="Blutabnahme">
                    <input type="checkbox" id="Blutabnahme" name="options" value="Blutabnahme" checked>
                    <span class="checkmark" id="Blutabnahme-box"></span>
                    Blutabnahme
                </label>
                <label for="Impfung">
                    <input type="checkbox" id="Impfung" name="options" value="Impfung" checked>
                    <span class="checkmark" id="Impfung-box"></span>
                    Impfung
                </label>
                <label for="Notfall">
                    <input type="checkbox" id="Notfall" name="options" value="Notfall" checked>
                    <span class="checkmark" id="Notfall-box"></span>
                    Notfall
                </label>
            </div>

            <button class="modal-btn" id="open-modal-status">Status</button>
            <div class="checkbox-container" id="status">
                <label for="option1">
                    <input type="checkbox" id="option1" name="options" value="option1">
                    Option 1
                </label>
                <label for="option2">
                    <input type="checkbox" id="option2" name="options" value="option2">
                    Option 2
                </label>
                <label for="option3">
                    <input type="checkbox" id="option3" name="options" value="option3">
                    Option 3
                </label>
            </div>
        </div>

        <div class="right-content">
            <div class="nav-btn-group">
                <button class="nav-btn" id="days-btn">Tage</button>
                <button class="nav-btn active" id="weeks-btn">Wochen</button>
            </div>
            <div class="calendar" id="calendar-week">
                <div class="weekday empty"></div>
                <div class="weekday">Mo., </div>
                <div class="weekday">Di., </div>
                <div class="weekday">Mi., </div>
                <div class="weekday">Do., </div>
                <div class="weekday">Fr., </div>
            
                <!-- Timeslot labels -->
                <div class="time-label">7:00</div>
                <div class="time-label">7:15</div>
                <div class="time-label">7:30</div>
                <div class="time-label">7:45</div>
                
                <div class="time-label">8:00</div>
                <div class="time-label">8:15</div>
                <div class="time-label">8:30</div>
                <div class="time-label">8:45</div>
                
                <div class="time-label">9:00</div>
                <div class="time-label">9:15</div>
                <div class="time-label">9:30</div>
                <div class="time-label">9:45</div>
                
                <div class="time-label">10:00</div>
                <div class="time-label">10:15</div>
                <div class="time-label">10:30</div>
                <div class="time-label">10:45</div>
                
                <div class="time-label">11:00</div>
                <div class="time-label">11:15</div>
                <div class="time-label">11:30</div>
                <div class="time-label">11:45</div>
                
                <div class="time-label">12:00</div>
                <div class="time-label">12:15</div>
                <div class="time-label">12:30</div>
                <div class="time-label">12:45</div>
                
                <div class="time-label">13:00</div>
                <div class="time-label">13:15</div>
                <div class="time-label">13:30</div>
                <div class="time-label">13:45</div>
                
                <div class="time-label">14:00</div>
                <div class="time-label">14:15</div>
                <div class="time-label">14:30</div>
                <div class="time-label">14:45</div>
                
                <div class="time-label">15:00</div>
                <div class="time-label">15:15</div>
                <div class="time-label">15:30</div>
                <div class="time-label">15:45</div>
                
                <div class="time-label">16:00</div>
                <div class="time-label">16:15</div>
                <div class="time-label">16:30</div>
                <div class="time-label">16:45</div>
                
                <div class="time-label">17:00</div>
                <div class="time-label">17:15</div>
                <div class="time-label">17:30</div>
                <div class="time-label">17:45</div>
                
                <div class="time-label">18:00</div>                    
            </div>

            <div class="calendar" id="calendar-day">
                <div class="weekday-day empty"></div>
                <div class="weekday-day"></div>
            
                <!-- Timeslot labels -->
                <div class="time-label-day">7:00</div>
                <div class="time-label-day">7:05</div>
                <div class="time-label-day">7:10</div>
                <div class="time-label-day">7:15</div>
                <div class="time-label-day">7:20</div>
                <div class="time-label-day">7:25</div>
                <div class="time-label-day">7:30</div>
                <div class="time-label-day">7:35</div>
                <div class="time-label-day">7:40</div>
                <div class="time-label-day">7:45</div>
                <div class="time-label-day">7:50</div>
                <div class="time-label-day">7:55</div>

                <div class="time-label-day">8:00</div>
                <div class="time-label-day">8:05</div>
                <div class="time-label-day">8:10</div>
                <div class="time-label-day">8:15</div>
                <div class="time-label-day">8:20</div>
                <div class="time-label-day">8:25</div>
                <div class="time-label-day">8:30</div>
                <div class="time-label-day">8:35</div>
                <div class="time-label-day">8:40</div>
                <div class="time-label-day">8:45</div>
                <div class="time-label-day">8:50</div>
                <div class="time-label-day">8:55</div>

                <div class="time-label-day">9:00</div>
                <div class="time-label-day">9:05</div>
                <div class="time-label-day">9:10</div>
                <div class="time-label-day">9:15</div>
                <div class="time-label-day">9:20</div>
                <div class="time-label-day">9:25</div>
                <div class="time-label-day">9:30</div>
                <div class="time-label-day">9:35</div>
                <div class="time-label-day">9:40</div>
                <div class="time-label-day">9:45</div>
                <div class="time-label-day">9:50</div>
                <div class="time-label-day">9:55</div>

                <div class="time-label-day">10:00</div>
                <div class="time-label-day">10:05</div>
                <div class="time-label-day">10:10</div>
                <div class="time-label-day">10:15</div>
                <div class="time-label-day">10:20</div>
                <div class="time-label-day">10:25</div>
                <div class="time-label-day">10:30</div>
                <div class="time-label-day">10:35</div>
                <div class="time-label-day">10:40</div>
                <div class="time-label-day">10:45</div>
                <div class="time-label-day">10:50</div>
                <div class="time-label-day">10:55</div>

                <div class="time-label-day">11:00</div>
                <div class="time-label-day">11:05</div>
                <div class="time-label-day">11:10</div>
                <div class="time-label-day">11:15</div>
                <div class="time-label-day">11:20</div>
                <div class="time-label-day">11:25</div>
                <div class="time-label-day">11:30</div>
                <div class="time-label-day">11:35</div>
                <div class="time-label-day">11:40</div>
                <div class="time-label-day">11:45</div>
                <div class="time-label-day">11:50</div>
                <div class="time-label-day">11:55</div>

                <div class="time-label-day">12:00</div>
                <div class="time-label-day">12:05</div>
                <div class="time-label-day">12:10</div>
                <div class="time-label-day">12:15</div>
                <div class="time-label-day">12:20</div>
                <div class="time-label-day">12:25</div>
                <div class="time-label-day">12:30</div>
                <div class="time-label-day">12:35</div>
                <div class="time-label-day">12:40</div>
                <div class="time-label-day">12:45</div>
                <div class="time-label-day">12:50</div>
                <div class="time-label-day">12:55</div>

                <div class="time-label-day">13:00</div>
                <div class="time-label-day">13:05</div>
                <div class="time-label-day">13:10</div>
                <div class="time-label-day">13:15</div>
                <div class="time-label-day">13:20</div>
                <div class="time-label-day">13:25</div>
                <div class="time-label-day">13:30</div>
                <div class="time-label-day">13:35</div>
                <div class="time-label-day">13:40</div>
                <div class="time-label-day">13:45</div>
                <div class="time-label-day">13:50</div>
                <div class="time-label-day">13:55</div>

                <div class="time-label-day">14:00</div>
                <div class="time-label-day">14:05</div>
                <div class="time-label-day">14:10</div>
                <div class="time-label-day">14:15</div>
                <div class="time-label-day">14:20</div>
                <div class="time-label-day">14:25</div>
                <div class="time-label-day">14:30</div>
                <div class="time-label-day">14:35</div>
                <div class="time-label-day">14:40</div>
                <div class="time-label-day">14:45</div>
                <div class="time-label-day">14:50</div>
                <div class="time-label-day">14:55</div>

                <div class="time-label-day">15:00</div>
                <div class="time-label-day">15:05</div>
                <div class="time-label-day">15:10</div>
                <div class="time-label-day">15:15</div>
                <div class="time-label-day">15:20</div>
                <div class="time-label-day">15:25</div>
                <div class="time-label-day">15:30</div>
                <div class="time-label-day">15:35</div>
                <div class="time-label-day">15:40</div>
                <div class="time-label-day">15:45</div>
                <div class="time-label-day">15:50</div>
                <div class="time-label-day">15:55</div>

                <div class="time-label-day">16:00</div>
                <div class="time-label-day">16:05</div>
                <div class="time-label-day">16:10</div>
                <div class="time-label-day">16:15</div>
                <div class="time-label-day">16:20</div>
                <div class="time-label-day">16:25</div>
                <div class="time-label-day">16:30</div>
                <div class="time-label-day">16:35</div>
                <div class="time-label-day">16:40</div>
                <div class="time-label-day">16:45</div>
                <div class="time-label-day">16:50</div>
                <div class="time-label-day">16:55</div>

                <div class="time-label-day">17:00</div>
                <div class="time-label-day">17:05</div>
                <div class="time-label-day">17:10</div>
                <div class="time-label-day">17:15</div>
                <div class="time-label-day">17:20</div>
                <div class="time-label-day">17:25</div>
                <div class="time-label-day">17:30</div>
                <div class="time-label-day">17:35</div>
                <div class="time-label-day">17:40</div>
                <div class="time-label-day">17:45</div>
                <div class="time-label-day">17:50</div>
                <div class="time-label-day">17:55</div>

                <div class="time-label-day">18:00</div>
        </div>

            
        </div>
    </div>
    <script type="module" src="../static/script/index.js"></script>
</body>
</html>
