<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termin Suchen</title>
    <link rel="stylesheet" href="../static/css/termin.css">
</head>
</head>
<body>
    <header>
        <h1>Termin Suchen</h1>
    </header>
    <div class="search-container">
        <div class="search-header">
            <input type="text" id="search" placeholder="Suchen...">
            <select id="termine-dropdown">
                <option value="Blutabnahme">Blutabnahme</option>
                <option value="Untersuchung">Untersuchung</option>
                <option value="Beratung">Beratung</option>
                <option value="Impfung">Impfung</option>
            </select>
        </div>
        
        <div class="search-filters">
            <div class="search-header">
                <label for="duration">Dauer:</label>
                <input type="number" min="5" step="5" id="duration" placeholder="min">
            </div>
            <div class="filters">
                <label>Filter:</label>
                <button class="main-button">Wochentage</button>
                <button class="main-button">Zeitraum</button>
            </div>
        </div>
        <div class="search-actions">
            <button class="action-button" id="cancel">Abbrechen</button>
            <button class="action-button" id="search-date">Suchen</button>
        </div>
    </div>
    <div id="search-results" class="hidden">
        <!-- Suchergebnisse werden hier eingefügt -->
    </div>
    <script src="../static/script/termin.js"></script>
</body>
</html>
