<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termin Wahl</title>
    <link rel="stylesheet" href="../static/css/terminWahl.css">
</head>
</head>
<body>
    <header class="header">
        <button type="button" id="back">Zurück</button>
        <h1>Termin Wahl</h1>
        <button type="button" id="cancel">Abbrechen</button>
    </header>
    <div class="main-content">
        <div class="calendar active" id="calendar-day">
            <div class="weekday-day empty"></div>
            <div class="weekday-day">Mo., </div>
            <div class="weekday-day">Di., </div>
            <div class="weekday-day">Mi., </div>
            <div class="weekday-day">Do., </div>
            <div class="weekday-day">Fr., </div>
            <div class="weekday-day empty"></div>
        
            <!-- Timeslot labels -->
            <!-- Timeslot labels -->
            <div class="time-label-day">7:00</div>
            <div class="time-label-day">7:05</div>
            <div class="time-label-day">7:10</div>
            <div class="time-label-day">7:15</div>
            <div class="time-label-day">7:20</div>
            <div class="time-label-day">7:25</div>
            <div class="time-label-day">7:30</div>
            <div class="time-label-day">7:35</div>
            <div class="time-label-day">7:40</div>
            <div class="time-label-day">7:45</div>
            <div class="time-label-day">7:50</div>
            <div class="time-label-day">7:55</div>

            <div class="time-label-day">8:00</div>
            <div class="time-label-day">8:05</div>
            <div class="time-label-day">8:10</div>
            <div class="time-label-day">8:15</div>
            <div class="time-label-day">8:20</div>
            <div class="time-label-day">8:25</div>
            <div class="time-label-day">8:30</div>
            <div class="time-label-day">8:35</div>
            <div class="time-label-day">8:40</div>
            <div class="time-label-day">8:45</div>
            <div class="time-label-day">8:50</div>
            <div class="time-label-day">8:55</div>

            <div class="time-label-day">9:00</div>
            <div class="time-label-day">9:05</div>
            <div class="time-label-day">9:10</div>
            <div class="time-label-day">9:15</div>
            <div class="time-label-day">9:20</div>
            <div class="time-label-day">9:25</div>
            <div class="time-label-day">9:30</div>
            <div class="time-label-day">9:35</div>
            <div class="time-label-day">9:40</div>
            <div class="time-label-day">9:45</div>
            <div class="time-label-day">9:50</div>
            <div class="time-label-day">9:55</div>

            <div class="time-label-day">10:00</div>
            <div class="time-label-day">10:05</div>
            <div class="time-label-day">10:10</div>
            <div class="time-label-day">10:15</div>
            <div class="time-label-day">10:20</div>
            <div class="time-label-day">10:25</div>
            <div class="time-label-day">10:30</div>
            <div class="time-label-day">10:35</div>
            <div class="time-label-day">10:40</div>
            <div class="time-label-day">10:45</div>
            <div class="time-label-day">10:50</div>
            <div class="time-label-day">10:55</div>

            <div class="time-label-day">11:00</div>
            <div class="time-label-day">11:05</div>
            <div class="time-label-day">11:10</div>
            <div class="time-label-day">11:15</div>
            <div class="time-label-day">11:20</div>
            <div class="time-label-day">11:25</div>
            <div class="time-label-day">11:30</div>
            <div class="time-label-day">11:35</div>
            <div class="time-label-day">11:40</div>
            <div class="time-label-day">11:45</div>
            <div class="time-label-day">11:50</div>
            <div class="time-label-day">11:55</div>

            <div class="time-label-day">12:00</div>
            <div class="time-label-day">12:05</div>
            <div class="time-label-day">12:10</div>
            <div class="time-label-day">12:15</div>
            <div class="time-label-day">12:20</div>
            <div class="time-label-day">12:25</div>
            <div class="time-label-day">12:30</div>
            <div class="time-label-day">12:35</div>
            <div class="time-label-day">12:40</div>
            <div class="time-label-day">12:45</div>
            <div class="time-label-day">12:50</div>
            <div class="time-label-day">12:55</div>

            <div class="time-label-day">13:00</div>
            <div class="time-label-day">13:05</div>
            <div class="time-label-day">13:10</div>
            <div class="time-label-day">13:15</div>
            <div class="time-label-day">13:20</div>
            <div class="time-label-day">13:25</div>
            <div class="time-label-day">13:30</div>
            <div class="time-label-day">13:35</div>
            <div class="time-label-day">13:40</div>
            <div class="time-label-day">13:45</div>
            <div class="time-label-day">13:50</div>
            <div class="time-label-day">13:55</div>

            <div class="time-label-day">14:00</div>
            <div class="time-label-day">14:05</div>
            <div class="time-label-day">14:10</div>
            <div class="time-label-day">14:15</div>
            <div class="time-label-day">14:20</div>
            <div class="time-label-day">14:25</div>
            <div class="time-label-day">14:30</div>
            <div class="time-label-day">14:35</div>
            <div class="time-label-day">14:40</div>
            <div class="time-label-day">14:45</div>
            <div class="time-label-day">14:50</div>
            <div class="time-label-day">14:55</div>

            <div class="time-label-day">15:00</div>
            <div class="time-label-day">15:05</div>
            <div class="time-label-day">15:10</div>
            <div class="time-label-day">15:15</div>
            <div class="time-label-day">15:20</div>
            <div class="time-label-day">15:25</div>
            <div class="time-label-day">15:30</div>
            <div class="time-label-day">15:35</div>
            <div class="time-label-day">15:40</div>
            <div class="time-label-day">15:45</div>
            <div class="time-label-day">15:50</div>
            <div class="time-label-day">15:55</div>

            <div class="time-label-day">16:00</div>
            <div class="time-label-day">16:05</div>
            <div class="time-label-day">16:10</div>
            <div class="time-label-day">16:15</div>
            <div class="time-label-day">16:20</div>
            <div class="time-label-day">16:25</div>
            <div class="time-label-day">16:30</div>
            <div class="time-label-day">16:35</div>
            <div class="time-label-day">16:40</div>
            <div class="time-label-day">16:45</div>
            <div class="time-label-day">16:50</div>
            <div class="time-label-day">16:55</div>

            <div class="time-label-day">17:00</div>
            <div class="time-label-day">17:05</div>
            <div class="time-label-day">17:10</div>
            <div class="time-label-day">17:15</div>
            <div class="time-label-day">17:20</div>
            <div class="time-label-day">17:25</div>
            <div class="time-label-day">17:30</div>
            <div class="time-label-day">17:35</div>
            <div class="time-label-day">17:40</div>
            <div class="time-label-day">17:45</div>
            <div class="time-label-day">17:50</div>
            <div class="time-label-day">17:55</div>

            <div class="time-label-day">18:00</div>

            <div class="appointment" style="grid-row: 2 / span 30; grid-column: 2;">A - B</div>
            <div class="appointment" style="grid-row: 42 / span 50; grid-column: 2;">A - B</div>
            <div class="appointment-free" style="grid-row: 32 / span 10; grid-column: 2;">C - D</div>
            <div class="appointment-free" style="grid-row: 92 / span 43; grid-column: 2;">E - F</div>
            
        </div>
    </div>

    <script src="../static/script/terminWahl.js"></script>
</body>
</html>
