/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 0.5px 0;
    font-size: 12px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
}

.search-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.main-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px; /* Increased bottom margin for spacing */
    margin-right: 0px;
}

.main-button:hover {
    background-color: #0056b3;
}

.search-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; /* Increased bottom margin for spacing */
}

#duration {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 30px;
    margin-right: auto;
    /* margin-top: 10px; */
    width: 10%; /* Adjust width to fit within the container */
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; /* Increased bottom margin for spacing */
}

.filters label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.search-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.action-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.action-button:hover {
    background-color: #0056b3;
}

#termine-dropdown {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 0px;
}

#termine-dropdown:hover {
    cursor: pointer;
}

#search-results {
    width: 220px; /* Die Breite anpassen, um den Logout-Button zu berücksichtigen */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute; /* Absolute Positionierung */
}

#search-results span {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: #333; /* Textfarbe der Suchergebnisse */
}

#search-results span:hover {
    background-color: #f0f0f0;
}

#search-results.active {
    display: flex;
    flex-direction: column;
}